.book-subtitle {
  margin: 15px 0;
  font-family: "Economica";
  font-size: 2em;
  color: #450920;
  border: 0.1rem solid #450920;
  border-radius: 2px;
  padding: 4px;
}

.recommendations-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-top: 30px;
}

.all-books-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-top: 30px;
}

button{
  background-color: #450920;
  color: white;
  padding: 15px 10px;
  margin: 3px;
  border: 0.1em solid #450920;
  border-radius: 2px;
  font-family: 'Economica';
  font-size: 1em;
}