.fun-container{
  width: 320px;
  border: 0.1em solid #450920;
  height: 350px;
  border-radius: 2px;
}

.fun-button{
  margin-top: 5px;
  font-family: 'Economica';
  font-size: 1.8em;
  color: #450920;
  text-align: center;
  cursor: pointer;
}

.wrapper {
  display: grid;
}

.fun-img, .fun-title {
  grid-area: 1 / 1;
  background-color: #45092050;
  width: 90%;
}

.fun-img{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
}

.fun-title {
  padding: 10px;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 2.5rem;
  font-family: "Fredericka the Great";
  font-weight: lighter;
}