.header-container {
  text-align: center; 
  padding: 0 30px 0 30px; 
  display: flex;
  justify-content:space-between;
}

.site-title {
  font-family: "Kunstler Script", "Pinyon Script", "Times New Roman";
  margin: 0;
  font-size: 5rem;
  font-weight: 100;
  color: #450920; 
}

.nav { 
  font-family: "Fauna One";
  padding: 10px 0 10px 10px;
  margin: 10px 0 10px 0; 
  display: flex;
  justify-content:space-evenly;
  gap: 70px;
}

.nav a {
  color: #450920;
  font-size: 0.9rem;
  text-decoration:none;
}

.nav a:hover {
  transition: 0.05s;
  border-radius: 2px;
  font-weight: bold;
}

.search-icon {
  color: #450920;
  border: none;
  background-color: white;
  margin: 0%;
  padding-bottom: 20px;
  cursor: pointer;
}

.search-input{
  height: 3rem;
  font-size: 1rem;
  font-family: "Fauna One";
  padding: 0 20px;
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 9px;
}