.trending-blogs-card {
  display: grid;
  grid-template-columns: 20fr 1fr 20fr;
  width: auto;
}

.bg-card-left {
  width: 100%;
  height: auto;
  border: 0.1em solid #450920;
  border-radius: 2px;
}
.bg-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.bg-card-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-blog {
  display: flex;
  gap: 5px;
  border: 0.1em solid #450920;
  border-radius: 2px;
}

.side-blog img {
  min-width: 40%;
  height: 150px;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
}

.bg-title {
  font-family: "Economica";
  color: #450920;
  font-size: 1.8em;
}

.side-blog .bg-title {
  font-size: 1.6em;
}

.bg-author {
  color: #8a8888;
  font-size: 1.2rem;
  font-family: "Economica";
}

.bg-content-left {
  color: #450920;
  font-family: "Fauna One";
  max-height: calc(1.3em * 6);
  line-height: 1.3;
  overflow: hidden;
  font-size: 0.8rem;
  text-align: justify;
}
